/* Colorbox style design */
/* Defines four types of colorboxes: box-info, box-tip, box-warning, and box-danger */
@mixin colorbox(
    $border-color,
    $icon-color,
    $icon-content,
    $bg-color,
    $fa-style: 'solid'
) {
    border-left: 0.3rem solid $border-color;
    border-radius: 0.3rem;
    color: var(--text-color);
    padding: 0.6rem 1rem 0.6rem 1.5rem;
    box-shadow: var(--language-border-color) 1px 1px 2px 1px;
    position: relative;
    margin-bottom: 1rem;

    > div.title::before {
        content: $icon-content;
        color: $icon-color;
        font: var(--fa-font-#{$fa-style});
        text-align: center;
        width: 3rem;
        position: absolute;
        left: 0.2rem;
        margin-top: 0.4rem;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    > div.title {
        background-color: $bg-color;
        border-top-right-radius: 0.3rem; /* Set top-right border radius */
        color: $icon-color;
        padding: 0.5rem 0.6rem 0.5rem 3rem;
        margin: -0.6rem -1rem 0.6rem -1.5rem;
        font-weight: 600;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}

/* box-info: Blue */
.box-info {
    @include colorbox(
        var(--prompt-info-icon-color),
        var(--prompt-info-icon-color),
        '\f06a',
        var(--prompt-info-bg)
    );
}

/* box-tip: Green */
.box-tip {
    @include colorbox(
        var(--prompt-tip-icon-color),
        var(--prompt-tip-icon-color),
        '\f0eb',
        var(--prompt-tip-bg),
        'regular'
    );
}

/* box-warning yellow */
.box-warning {
    @include colorbox(
        var(--prompt-warning-icon-color),
        var(--prompt-warning-icon-color),
        '\f06a',
        var(--prompt-warning-bg)
    );
}

/* box-danger: Red */
.box-danger {
    @include colorbox(
        var(--prompt-danger-icon-color),
        var(--prompt-danger-icon-color),
        '\f071',
        var(--prompt-danger-bg)
    );
}

///////////////////////////////
//// details style design
details {
    border-radius: 0.25rem;
    border-left: 0.2rem solid var(--prompt-tip-icon-color);
    box-shadow: var(--language-border-color) 1px 1px 2px 1px; /* Reuses the border color variable from the code block */
    margin-bottom: 1rem;
    padding: 0.6rem 1rem 0.6rem 1.5rem;
    > p:last-child {
        margin-bottom: 0;
    }
}

details > summary {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: -0.6rem -1rem -0.6rem -1.5rem;
    font-weight: 600;
    border-top-right-radius: 0.25rem; /* Set top-right border radius */
    border-bottom-right-radius: 0.25rem; /* Set top-right border radius */
    background-color: var(--prompt-tip-bg);
    color: var(--prompt-tip-icon-color);
    text-decoration: underline;
    position: relative;
    list-style: none; /* Hide the default arrow */
    transition: background-color 0.3s ease; /* Add a color transition effect */
}

details > summary::-webkit-details-marker {
    display: none; /* Hide the default arrow */
}
details > summary::marker {
    content: none; /* Hide the default arrow */
}

details > summary::before {
    /* In the closed state */
    /* You can also use other symbols or custom icons, such as Unicode characters */
    // content: '🙈';
    /* content: '\002B9A'; */
    content: '😼';
    margin-right: 0.5rem;
    display: inline-block;
}

details[open] > summary::before {
    /* In the open state */
    /* content: '🐵'; */
    /* content: '\002B9B'; */
    content: '🙀';
    animation: my-cat 0.2s ease-in-out; /* Adds an animation effect when clicked */
    margin-right: 0.5rem;
}

details > summary::after {
    font-family: 'Font Awesome 6 Free';
    content: '\f105'; /* Unicode for fa-angle-down */
    display: inline-block;
    transition: transform 0.2s ease; /* Adds a rotation animation */
    position: absolute;
    right: 1rem; /* Adjusts the arrow position to the far right */
}

details[open] > summary::after {
    transform: rotate(90deg);
}

details[open] > summary {
    // transition: margin 200ms ease-out; /* Adds an animation effect when expanding */
    margin-bottom: 0.6rem;
}

@keyframes my-cat {
    50% {
        transform: scale(1.3);
    } /* Animation effect code */
}
